* {
  font-family: "Courier New", Courier, monospace;
}

body {
  background-color: #7cc6fe;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.quiz-container {
  background-color: #fff;
  width: 450px;
  height: min-content;
  border-radius: 15px;
  padding: 10px;
}

.quiz-score,
.question {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 50px;
}

.timer {
  display: flex;
  justify-content: center;
  font-size: 48px;
}

.answer-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.answer-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
}

.answer-item button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  color: #ffffff;
  background-color: #545e75;
  border-radius: 15px;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 20px;
  font-size: 30px;
}

.answer-item button:hover {
  background-color: #f4e04d;
  color: #000000;
}

.answer-item button:focus {
  outline: none;
}

.quiz-score {
  text-align: center;
}
